.scenario {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  background: green;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  height: 10%;
  display: flex;
}

.arena {
  width: 100%;
  height: 90%;
}

.wall {
  background: maroon;
  width: 100%;
  height: 10%;
}

.spots {
  width: 25%;
  height: 100%;
  position: relative;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  width: 20px;
  height: 20px;
  background: black;
}

@keyframes translateWall {
  0%   {transform: translateY(0)}
  100% {transform: translateY(890%)}
}
